.job_docker_push_variables:
  &job_docker_push_variables
    PYTHON_BIN: /usr/bin/python3
    VERSION_SCRIPT_BIN: mayan/apps/dependencies/versions.py

stages:
  - stage_build_python
  - stage_test_python
  - stage_build_container
  - stage_build_documentation
  - stage_push
  - stage_deploy

{% include 'platform/gitlab/jobs/docker_builds.tmpl' %}
{% include 'platform/gitlab/jobs/docker_pushes.tmpl' %}
{% include 'platform/gitlab/jobs/documentation.tmpl' %}
{% include 'platform/gitlab/jobs/python_builds.tmpl' %}
{% include 'platform/gitlab/jobs/python_pushes.tmpl' %}
{% include 'platform/gitlab/jobs/python_tests.tmpl' %}
{% include 'platform/gitlab/jobs/deployments.tmpl' %}
{% include 'platform/gitlab/jobs/tries.tmpl' %}
