{% load platforms_gitlab_tags %}

.job_docker_push_variables:
  &job_docker_push_variables
    PYTHON_BIN: /usr/bin/python3
    VERSION_SCRIPT_BIN: mayan/apps/dependencies/versions.py

stages:
  - stage_build_python
  - stage_test_python
  - stage_build_container
  - stage_build_documentation
  - stage_push
  - stage_deploy

# Docker

job_docker_build_all:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_BUILD }}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  needs:
    - job_docker_build_amd64
    - job_docker_build_arm64
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - make docker-manifest-create
    - make docker-manifest-push
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
    DOCKER_DRIVER: overlay2
{% platforms_gitlab_ci_cache_variables apk=True indent=4 pip=True %}

job_docker_build_amd64:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 pip=True %}
    - apk add {{ LINUX_PACKAGES_ALPINE_BUILD }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
    - pip install setuptools==${PYTHON_SETUPTOOLS_VERSION}
    - pip install --requirement requirements/common.txt
    - cat requirements/base.txt | grep -v 'django-auth-ldap'| pip install -r /dev/stdin
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_AMD64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_AMD64 }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - export DOCKER_IMAGE_LABELS_EXTRA="--label com.gitlab.ci.job.id=${CI_JOB_ID} --label com.gitlab.ci.pipeline.id=${CI_PIPELINE_ID} --label org.opencontainers.image.revision=${CI_COMMIT_SHA}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - make devops-docker-build-amd64
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
    DOCKER_DRIVER: overlay2
{% platforms_gitlab_ci_cache_variables apk=True indent=4 pip=True %}

job_docker_build_arm64:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 pip=True %}
    - apk add {{ LINUX_PACKAGES_ALPINE_BUILD }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
    - pip install setuptools==${PYTHON_SETUPTOOLS_VERSION}
    - pip install --requirement requirements/common.txt
    - cat requirements/base.txt | grep -v 'django-auth-ldap'| pip install -r /dev/stdin
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ARM64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ARM64 }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - export DOCKER_IMAGE_LABELS_EXTRA="--label com.gitlab.ci.job.id=${CI_JOB_ID} --label com.gitlab.ci.pipeline.id=${CI_PIPELINE_ID} --label org.opencontainers.image.revision=${CI_COMMIT_SHA}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - make devops-docker-build-arm64
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
    DOCKER_DRIVER: overlay2
{% platforms_gitlab_ci_cache_variables apk=True indent=4 pip=True %}

job_docker_push_major:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - docker login --username ${CI_REGISTRY_PUSH_USER} --password ${CI_REGISTRY_PUSH_PASSWORD} ${CI_REGISTRY}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - export DOCKER_REGISTRY_PUBLIC_NAME="registry-1.docker.io"
    - export DOCKER_REGISTRY_PUBLIC_PASSWORD="${DOCKER_HUB_PASSWORD}"
    - export DOCKER_REGISTRY_PUBLIC_USERNAME="${DOCKER_HUB_USERNAME}"
    - make devops-docker-major-publish
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_push
  variables:
    DOCKER_DRIVER: overlay2
{% platforms_gitlab_ci_cache_variables apk=True indent=4 %}
    << : *job_docker_push_variables

job_docker_push_minor:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - docker login --username ${CI_REGISTRY_PUSH_USER} --password ${CI_REGISTRY_PUSH_PASSWORD} ${CI_REGISTRY}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - export DOCKER_REGISTRY_PUBLIC_NAME="registry-1.docker.io"
    - export DOCKER_REGISTRY_PUBLIC_PASSWORD="${DOCKER_HUB_PASSWORD}"
    - export DOCKER_REGISTRY_PUBLIC_USERNAME="${DOCKER_HUB_USERNAME}"
    - make devops-docker-minor-publish
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_push
  variables:
    DOCKER_DRIVER: overlay2
{% platforms_gitlab_ci_cache_variables apk=True indent=4 %}
    << : *job_docker_push_variables

job_docker_push_nightly:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
    - docker login --username ${CI_REGISTRY_PUSH_USER} --password ${CI_REGISTRY_PUSH_PASSWORD} ${CI_REGISTRY}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  needs:
    - job_docker_build_all
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_IMAGE_TAG="${CI_COMMIT_REF_SLUG}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - export DOCKER_REGISTRY_PUBLIC_NAME="registry-1.docker.io"
    - export DOCKER_REGISTRY_PUBLIC_PASSWORD="${DOCKER_HUB_PASSWORD}"
    - export DOCKER_REGISTRY_PUBLIC_USERNAME="${DOCKER_HUB_USERNAME}"
    - make devops-docker-nightly-publish
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_push
  variables:
    DOCKER_DRIVER: overlay2

# Documentation

job_documentation_build:
  artifacts:
    expire_in: 24 hr
    paths:
    - docs
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 pip=True %}
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_DOCUMENTATION }} {{ LINUX_PACKAGES_DEBIAN_BUILD }} {{ LINUX_PACKAGES_DEBIAN_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
    - pip install setuptools==${PYTHON_SETUPTOOLS_VERSION}
    - pip install wheel==${PYTHON_WHEEL_VERSION}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCUMENTATION }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCUMENTATION }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
  script:
    - pip install --requirement requirements/common.txt
    - pip install --requirement requirements/base.txt
    - pip install --requirement requirements/documentation.txt
    - pip install --requirement requirements/documentation_override.txt
    - make docs-html
  stage: stage_build_documentation
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}

job_documentation_push:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${DOCUMENTATION_SSH_KNOWN_HOSTS}' indent=4 private_key='${DOCUMENTATION_SSH_PRIVATE_KEY}' %}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCUMENTATION }}
  script:
    - export REMOTE_SSH_USERNAME="${DOCUMENTATION_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${DOCUMENTATION_HOSTNAME}"
    - export REMOTE_DOCUMENTATION_PATH="${DOCUMENTATION_SERVER_PATH}"
    - make devops-documentation-deploy
  stage: stage_push
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}

# Python

job_python_build:
  artifacts:
    expire_in: 24 hr
    paths:
    - dist
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_BUILD }} {{ LINUX_PACKAGES_DEBIAN_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - make dev-setup-python-base
    - make dev-setup-python-build
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_PYTHON }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_TESTING }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_PYTHON_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_PYTHON_UPGRADE }}
  script:
    - make python-wheel-production
  stage: stage_build_python
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}

job_python_push_pypi:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 pip=True %}
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_TESTING }}
  script:
    - pip install --requirement requirements/build.txt
    - twine upload --verbose dist/mayan*edms*
  stage: stage_push
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}

# Run the test suit

.job_base_test:
  &job_base_test
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 pip=True %}
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_BASE }} {{ LINUX_PACKAGES_DEBIAN_BUILD }} {{ LINUX_PACKAGES_DEBIAN_PYTHON }} {{ LINUX_PACKAGES_DEBIAN_TEST }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
    - pip install wheel==${PYTHON_WHEEL_VERSION}
    - pip install --requirement requirements.txt --requirement requirements/testing-base.txt --requirement requirements/build.txt
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_PYTHON_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_PYTHON_BASE }}
  stage: stage_test_python
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}

job_postgres_test:
  << : *job_base_test
  script:
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_POSTGRESQL }}
    - . venv/bin/activate
    - pip install psycopg==${PYTHON_PSYCOPG_VERSION}
    - export MAYAN_DATABASES="{'default':{'ENGINE':'django.db.backends.postgresql','NAME':'{{ DEFAULT_DATABASE_NAME }}','PASSWORD':'{{ DEFAULT_DATABASE_PASSWORD }}','USER':'{{ DEFAULT_DATABASE_USER }}','HOST':'postgres'}}"
    - make test-all SETTINGS=mayan.settings.testing.gitlab-ci
    - make test-migrations-all SETTINGS=mayan.settings.testing.gitlab-ci
  services:
    - {{ DOCKER_POSTGRESQL_IMAGE_NAME }}:{{ DOCKER_POSTGRESQL_IMAGE_TAG }}
  variables:
    POSTGRES_DB: "{{ DEFAULT_DATABASE_NAME }}"
    POSTGRES_PASSWORD: "{{ DEFAULT_DATABASE_PASSWORD }}"
    POSTGRES_USER: "{{ DEFAULT_DATABASE_USER }}"

job_sqlite_test:
  << : *job_base_test
  script:
    - . venv/bin/activate
    - make test-all SETTINGS=mayan.settings.testing.gitlab-ci
    - make test-migrations-all SETTINGS=mayan.settings.testing.gitlab-ci

# Deploy

job_demo_deploy:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${DEMO_SSH_KNOWN_HOST}' indent=4 private_key='${DEMO_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: demo
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_DEMO }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
  script:
    - export REMOTE_SSH_USERNAME="${DEMO_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${DEMO_IP_ADDRESS}"
    - devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy_all:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
  script:
    - export REMOTE_SSH_USERNAME="STAGING_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${STAGING_HOSTNAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_DEPLOY_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_DEPLOY_USER}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - make devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy_amd64:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_AMD64_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_AMD64_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_AMD64 }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING_AMD64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_AMD64 }}
  script:
    - export REMOTE_SSH_USERNAME="${STAGING_AMD64_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${STAGING_AMD64_HOSTNAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_DEPLOY_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_DEPLOY_USER}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_IMAGE_TAG_EXTRA="-amd64"
    - make devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy_arm64:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_ARM64_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_ARM64_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ARM64 }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING_ARM64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ARM64 }}
  script:
    - export REMOTE_SSH_USERNAME="${STAGING_ARM64_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${STAGING_ARM64_HOSTNAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_DEPLOY_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_DEPLOY_USER}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_IMAGE_TAG_EXTRA="-arm64"
    - make devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

# Combined

job_docker_build_try_all:
  extends: job_docker_build_all
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING_ALL }}

job_docker_build_try_amd64:
  extends: job_docker_build_amd64
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING_AMD64 }}

job_docker_build_try_arm64:
  extends: job_docker_build_arm64
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING_ARM64 }}

job_staging_deploy_try_all:
  extends: job_staging_deploy_all
  needs:
    - job_docker_build_try_all
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING_ALL }}
  when: on_success

job_staging_deploy_try_amd64:
  extends: job_staging_deploy_amd64
  needs:
    - job_docker_build_try_amd64
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING_AMD64 }}
  when: on_success

job_staging_deploy_try_arm64:
  extends: job_staging_deploy_arm64
  needs:
    - job_docker_build_try_arm64
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING_ARM64 }}
  when: on_success
