{% load platforms_gitlab_tags %}

job_demo_deploy:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${DEMO_SSH_KNOWN_HOST}' indent=4 private_key='${DEMO_PRIVATE_KEY}' %}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: demo
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_DEMO }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING }}
  script:
    - ssh ${DEMO_USERNAME}@${DEMO_IP_ADDRESS} "curl --remote-name-all https://gitlab.com/mayan-edms/mayan-edms/-/raw/master/docker/{.env,docker-compose.yml} --show-error --silent && docker compose pull && docker compose down --remove-orphans --volumes || true && docker compose up --detach"
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_PRIVATE_KEY}' %}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING }}
  script:
    - ssh ${STAGING_SSH_USERNAME}@${STAGING_HOSTNAME} "docker compose down --remove-orphans --volumes || true"
    - scp docker/.env docker/docker-compose.yml ${STAGING_SSH_USERNAME}@${STAGING_HOSTNAME}:~
    - DOCKER_VERSION=`cat docker/rootfs/version`;
    - ssh ${STAGING_SSH_USERNAME}@${STAGING_HOSTNAME} "echo \"\" >> .env && echo \"# GitLab CI\" >> .env && echo \"MAYAN_DOCKER_IMAGE_NAME=${CI_REGISTRY_IMAGE}\" >> .env && echo \"MAYAN_DOCKER_IMAGE_TAG=${DOCKER_VERSION}\" >> .env"
    - ssh ${STAGING_SSH_USERNAME}@${STAGING_HOSTNAME} "docker login --username '${CI_REGISTRY_DEPLOY_USER}' --password '${CI_REGISTRY_DEPLOY_PASSWORD}' ${CI_REGISTRY} && docker compose pull && docker compose up --detach"
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}
