{% load platforms_gitlab_tags %}

job_demo_deploy:
  before_script:
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${DEMO_SSH_KNOWN_HOST}' indent=4 private_key='${DEMO_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: demo
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_DEMO }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
  script:
    - export REMOTE_SSH_USERNAME="${DEMO_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${DEMO_IP_ADDRESS}"
    - devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy_all:
  before_script:
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
  script:
    - export REMOTE_SSH_USERNAME="STAGING_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${STAGING_HOSTNAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_DEPLOY_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_DEPLOY_USER}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - make devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy_amd64:
  before_script:
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_AMD64_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_AMD64_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_AMD64 }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING_AMD64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_AMD64 }}
  script:
    - export REMOTE_SSH_USERNAME="${STAGING_AMD64_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${STAGING_AMD64_HOSTNAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_DEPLOY_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_DEPLOY_USER}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_IMAGE_TAG_EXTRA="-amd64"
    - make devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}

job_staging_deploy_arm64:
  before_script:
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${STAGING_ARM64_SSH_KNOWN_HOST}' indent=4 private_key='${STAGING_ARM64_PRIVATE_KEY}' %}
    - apt-get install --yes --no-install-recommends make
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 %}
  environment:
    name: staging
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ARM64 }}
    - {{ GITLAB_CI_BRANCH_DEPLOYMENTS_STAGING_ARM64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ARM64 }}
  script:
    - export REMOTE_SSH_USERNAME="${STAGING_ARM64_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${STAGING_ARM64_HOSTNAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_DEPLOY_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_DEPLOY_USER}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_IMAGE_TAG_EXTRA="-arm64"
    - make devops-staging-deploy
  stage: stage_deploy
  when: manual
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 %}
