{% load platforms_gitlab_tags %}

job_docker_build:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - docker login --username ${CI_REGISTRY_PUSH_USER} --password ${CI_REGISTRY_PUSH_PASSWORD} ${CI_REGISTRY}
    - apk update
    - apk add --cache-dir ${APK_CACHE_DIR} {{ LINUX_PACKAGES_ALPINE_BUILD }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
    - pip install setuptools==${PYTHON_SETUPTOOLS_VERSION}
    - pip install --requirement requirements/common.txt
    - cat requirements/base.txt | grep -v 'django-auth-ldap'| pip install -r /dev/stdin
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_DIND_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - DOCKER_VERSION=`cat docker/rootfs/version`
    - make docker-build DOCKER_IMAGE_MAYAN_NAME=${CI_REGISTRY_IMAGE} IMAGE_VERSION=${DOCKER_VERSION} DOCKER_IMAGE_LABELS_EXTRA='--label com.gitlab.ci.job.id=${CI_JOB_ID} --label com.gitlab.ci.pipeline.id=${CI_PIPELINE_ID} --label org.opencontainers.image.revision=${CI_COMMIT_SHA}'
    - docker push "${CI_REGISTRY_IMAGE}:${DOCKER_VERSION}"
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
    DOCKER_DRIVER: overlay2
{% platforms_gitlab_ci_cache_variables indent=4 apk=True pip=True %}
