{% load platforms_gitlab_tags %}

job_docker_push_major:
  before_script:
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_ESSENTIAL }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - export DOCKER_REGISTRY_PUBLIC_NAME="registry-1.docker.io"
    - export DOCKER_REGISTRY_PUBLIC_PASSWORD="${DOCKER_HUB_PASSWORD}"
    - export DOCKER_REGISTRY_PUBLIC_USERNAME="${DOCKER_HUB_USERNAME}"
    - make devops-docker-major-publish
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_push
  variables:
{% platforms_gitlab_ci_cache_variables apk=True indent=4 %}
    DOCKER_BUILDKIT: "1"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

job_docker_push_minor:
  before_script:
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_ESSENTIAL }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - export DOCKER_REGISTRY_PUBLIC_NAME="registry-1.docker.io"
    - export DOCKER_REGISTRY_PUBLIC_PASSWORD="${DOCKER_HUB_PASSWORD}"
    - export DOCKER_REGISTRY_PUBLIC_USERNAME="${DOCKER_HUB_USERNAME}"
    - make devops-docker-minor-publish
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_push
  variables:
{% platforms_gitlab_ci_cache_variables apk=True indent=4 %}
    DOCKER_BUILDKIT: "1"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

job_docker_push_nightly:
  before_script:
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_ESSENTIAL }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  needs:
    - job_docker_build_all
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
  script:
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_IMAGE_TAG="${CI_COMMIT_REF_SLUG}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - export DOCKER_REGISTRY_PUBLIC_NAME="registry-1.docker.io"
    - export DOCKER_REGISTRY_PUBLIC_PASSWORD="${DOCKER_HUB_PASSWORD}"
    - export DOCKER_REGISTRY_PUBLIC_USERNAME="${DOCKER_HUB_USERNAME}"
    - make devops-docker-nightly-publish
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_push
  variables:
    DOCKER_BUILDKIT: "1"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
