{% load platforms_gitlab_tags %}

job_docker_build_all:
  before_script:
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 %}
    - apk add {{ LINUX_PACKAGES_ALPINE_BUILD }} {{ LINUX_PACKAGES_ALPINE_ESSENTIAL }}
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  needs:
    - job_docker_build_amd64
    - job_docker_build_arm64
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - echo "Build all architectures."
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
{% platforms_gitlab_ci_cache_variables apk=True indent=4 pip=True %}
    DOCKER_BUILDKIT: "1"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

job_docker_build_amd64:
  before_script:
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 pip=True %}
    - apk add {{ LINUX_PACKAGES_ALPINE_BUILD }} {{ LINUX_PACKAGES_ALPINE_ESSENTIAL }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - make dev-setup-python-essential
    - make dev-setup-python-production
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_AMD64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_AMD64 }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - export DOCKER_IMAGE_LABELS_EXTRA="--label com.gitlab.ci.job.id=${CI_JOB_ID} --label com.gitlab.ci.pipeline.id=${CI_PIPELINE_ID} --label org.opencontainers.image.revision=${CI_COMMIT_SHA}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - make devops-docker-build-amd64
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
{% platforms_gitlab_ci_cache_variables apk=True indent=4 pip=True %}
    DOCKER_BUILDKIT: "1"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

job_docker_build_arm64:
  before_script:
{% platforms_gitlab_ci_cache_before_script apk=True indent=4 pip=True %}
    - apk add {{ LINUX_PACKAGES_ALPINE_BUILD }} {{ LINUX_PACKAGES_ALPINE_ESSENTIAL }} {{ LINUX_PACKAGES_ALPINE_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - make dev-setup-python-essential
    - make dev-setup-python-production
  cache:
{% platforms_gitlab_ci_cache_paths apk=True indent=4 pip=True %}
  image: {{ DOCKER_CLI_IMAGE_VERSION }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ALL }}
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCKER_ARM64 }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCKER_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_NIGHTLY }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ALL }}
    - {{ GITLAB_CI_BRANCH_RELEASES_STAGING_ARM64 }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
    - {{ GITLAB_CI_BRANCH_TESTS_DOCKER }}
  script:
    - export DOCKER_IMAGE_LABELS_EXTRA="--label com.gitlab.ci.job.id=${CI_JOB_ID} --label com.gitlab.ci.pipeline.id=${CI_PIPELINE_ID} --label org.opencontainers.image.revision=${CI_COMMIT_SHA}"
    - export DOCKER_IMAGE_NAME="${CI_IMAGE_NAME}"
    - export DOCKER_REGISTRY_NAME="${CI_REGISTRY}"
    - export DOCKER_REGISTRY_PASSWORD="${CI_REGISTRY_PUSH_PASSWORD}"
    - export DOCKER_REGISTRY_USERNAME="${CI_REGISTRY_PUSH_USER}"
    - make devops-docker-build-arm64
  services:
    - {{ DOCKER_DIND_IMAGE_VERSION }}
  stage: stage_build_container
  variables:
{% platforms_gitlab_ci_cache_variables apk=True indent=4 pip=True %}
    DOCKER_BUILDKIT: "1"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
