{% load platforms_gitlab_tags %}

job_documentation_build:
  artifacts:
    expire_in: 24 hr
    paths:
    - docs
  before_script:
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 pip=True %}
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_DOCUMENTATION }} {{ LINUX_PACKAGES_DEBIAN_BUILD }} {{ LINUX_PACKAGES_DEBIAN_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - make dev-setup-python-essential
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_BUILDS_DOCUMENTATION }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCUMENTATION }}
    - {{ GITLAB_CI_BRANCH_TESTS_ALL }}
  script:
    - make dev-setup-python-production
    - make dev-setup-python-documentation
    - make docs-html
  stage: stage_build_documentation
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}

job_documentation_push:
  before_script:
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
{% platforms_gitlab_ci_ssh_before_script hostname='${DOCUMENTATION_SSH_KNOWN_HOSTS}' indent=4 private_key='${DOCUMENTATION_SSH_PRIVATE_KEY}' %}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_DOCUMENTATION }}
  script:
    - export REMOTE_SSH_USERNAME="${DOCUMENTATION_SSH_USERNAME}"
    - export REMOTE_SSH_HOSTNAME="${DOCUMENTATION_HOSTNAME}"
    - export REMOTE_DOCUMENTATION_PATH="${DOCUMENTATION_SERVER_PATH}"
    - make devops-documentation-deploy
  stage: stage_push
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}
