{% load platforms_gitlab_tags %}

job_python_push_pypi:
  before_script:
{% platforms_gitlab_ci_config_env_before_script indent=4 %}
{% platforms_gitlab_ci_cache_before_script apt=True indent=4 %}
    - apt-get install --yes --no-install-recommends {{ LINUX_PACKAGES_DEBIAN_PYTHON }}
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install pip==${PYTHON_PIP_VERSION}
  cache:
{% platforms_gitlab_ci_cache_paths apt=True indent=4 pip=True %}
  image: {{ DOCKER_LINUX_IMAGE_NAME }}:{{ DOCKER_LINUX_IMAGE_TAG }}
  only:
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_ALL_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MAJOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_PYTHON_MINOR }}
    - {{ GITLAB_CI_BRANCH_RELEASES_TESTING }}
  script:
    - pip install --requirement requirements/build.txt
    - twine upload --verbose dist/mayan*edms*
  stage: stage_push
  variables:
{% platforms_gitlab_ci_cache_variables apt=True indent=4 pip=True %}
