job_docker_build_try:
  extends: job_docker_build
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING }}

job_staging_deploy_try:
  extends: job_staging_deploy
  needs:
    - job_docker_build_try
  only:
    - {{ GITLAB_CI_BRANCH_TRY_STAGING }}
  when: on_success
